/* Color Theme Swatches in Hex */
$color1-hex: #8F92BF;
$color2-hex: #1B2FA6;
$color3-hex: #3849A6;
$color4-hex: #BF9C88;
$color5-hex: #402725;

/* Color Theme Swatches in RGBA */
$color1-rgba: rgba(143,145,191, 1);
$color2-rgba: rgba(26,47,165, 1);
$color3-rgba: rgba(56,72,165, 1);
$color4-rgba: rgba(191,156,135, 1);
$color5-rgba: rgba(63,39,36, 1);

/* Color Theme Swatches in HSLA */
$color1-hsla: hsla(236, 27, 65, 1);
$color2-hsla: hsla(230, 72, 37, 1);
$color3-hsla: hsla(230, 49, 43, 1);
$color4-hsla: hsla(22, 30, 64, 1);
$color5-hsla: hsla(5, 26, 19, 1);